@font-face {
    font-family: "PoiretOne-Regular";
    src: url(../webfonts/PoiretOne-Regular.ttf);
}

@font-face {
    font-family: "Lato-Regular";
    src: url(../webfonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "soria-font";
    src: url(../webfonts/soria-font.ttf);
}

:root {

    /* color */
    --primary-color: #6ca651;
    --secondary-color: #f6f0d7;

    /* font-family */
    --font-family-text: "soria-font", serif;
    --font-family-title: "soria-font", serif;

    /* corner-frame */

    /* */

}

* {
    /* box-shadow: 0 0 0 1px red inset; */
}

h1 {
    color: var(--primary-color);
    text-align: center;
    font-size: 100px;
    font-family: "soria-font", serif, sans-serif;
}

@media screen and (width < 768px) {
    h1 {
        font-size: 70px;
    }
}

h2 {
    text-align: center;
    font-family: "soria-font";
    margin: 20px 0 20px 0;
}

h3 {
    text-align: center;
    font-size: medium;
    font-family: "soria-font";
}

p,
li {
    font-family: "Lato-Regular";
}

header {
    overflow: hidden;
    background-color: #F6F0D7;

        .developer {
            margin: 0 0 50px 0;
        }
}

main {
    background-color: #F6F0D7;


    .intro {
        margin-bottom: 20px;
    }

    .introduction-contact {
        border: 3px solid var(--primary-color);
        border-radius: 35px;

        p {

            display: flex;
            justify-content: center;
        }

        a {
            color: var(--primary-color);
        }
    }

    .introduction-photo {
        position: relative;
    }

    .introduction-photo>div {
        position: absolute;
        transform: translate(-50%, -50%) scale(1.2);
        left: 50%;
        top: 50%;
        z-index: 1;
    }

    .introduction-education {
        border: 3px solid var(--primary-color);
        border-radius: 35px;

        div {
            padding-left: 40px;
        }

        abbr {
            text-underline-offset: 4px;
            text-decoration-color: var(--primary-color);
        }
    }

    @media (width <=768px) {
        .introduction-contact {
            padding-bottom: 144px;
        }

        .introduction-education {
            padding-top: 130px;
        }
    }

        @media (min-width: calc(50ch * 2)) {

            .introduction-contact,
            .introduction-education {
                grid-template-columns: repeat(2 1fr);
            }
        }

        .about-me {
            /* border: 3px solid var(--primary-color); */
            border-radius: 35px;
            margin-bottom: 20px;
            position: relative;
            height: 250px;

            @media (width <=768px) {
                height: auto;
            }


            .corner-ornament-left {
                filter: invert(70%) sepia(24%) saturate(876%) hue-rotate(57deg) brightness(81%) contrast(84%);
                height: 250px;
                width: 50%;
                position: absolute;
                left: 0;
            }

            .corner-ornament-right {
                filter: invert(70%) sepia(24%) saturate(876%) hue-rotate(57deg) brightness(81%) contrast(84%);
                height: 250px;
                width: 50%;
                position: absolute;
                transform: scaleX(-1);
                transition: all 500ms ease-in-out;
                right: 0;
            }

            @media (width <=768px) {
                .corner-ornament-left {
                    height: 50px;
                    transform: scaleY(-1);
                }

                .corner-ornament-right {
                    height: 50px;
                    transform: scaleX(-1) scaleY(-1);

                }
            }

            .fa-regular,
            #btn-play {
                color: var(--primary-color);

            }

        }

        .photo-iris {
            width: 220px;
            border-radius: 110px;
            height: 220px;
            object-fit: cover;
            object-position: 50% 6%;
            border: 3px solid var(--primary-color);
        }


        .vaardigheden {
            margin-bottom: 20px;

        }

        .work-experience {
            border: 3px solid var(--primary-color);
            border-radius: 35px;
            margin-bottom: 20px;
        }

        .voluntary-work {
            margin-bottom: 174px;
            padding: 0 30px 0 30px;

            .row {
                position: relative;
            }

            ul {
                max-height: 0px;
                overflow: hidden;
                transition: max-height 900ms ease-in-out;
            }

            &:hover ul {
                max-height: 175px;
            }

            .corner-ornament-left1 {
                filter: invert(70%) sepia(24%) saturate(876%) hue-rotate(57deg) brightness(81%) contrast(84%);
                height: 250px;
                position: absolute;
                left: -25px;
                bottom: -146px;
            }


            .corner-ornament-right1 {
                filter: invert(70%) sepia(24%) saturate(876%) hue-rotate(57deg) brightness(81%) contrast(84%);
                height: 250px;
                position: absolute;
                transform: scaleX(-1);
                right: -25px;
                bottom: -146px;
            }

            @media (width <=768px) {
                .corner-ornament-left1 {
                    height: 50px;
                    left: 40px
                }

                .corner-ornament-right1 {
                    height: 50px;
                    right: 40px;
                }
            }


        }

        .refrences {
            border: 3px solid var(--primary-color);
            border-radius: 35px;
            margin-bottom: 50px;
            column-gap: 20px;
            /* display: flex; */

            .row {
                /* flex-wrap: nowrap; */
            }

            a {
                color: var(--primary-color);
            }

            .talen {
                /* padding-left: 0; */
            }

            .symbol1,
            .symbol2,
            .symbol3 {
                width: 50px;
                padding-right: 20px;
            }

            .symbol1,
            .symbol2 {
                margin-bottom: 20px;
            }

            h2 {
                text-align: left;
            }

            .vaardigheden {
                list-style: none;
                padding-left: 0;
            }
        }
    }





    footer {

        background-color: #F6F0D7;
    }