@font-face {
    font-family: "PoiretOne-Regular";
    src: url(../webfonts/PoiretOne-Regular.ttf);
}

:root {
  --primary-color: #94606a;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    font-size: 100px;
    font-family: "PoiretOne-Regular";
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: medium;
}

header {
    overflow: hidden;
    background-color: #F6F0D7;
}

main {
    background-color: #F6F0D7;

    .intro {
        margin-bottom: 20px;
    }

    .introduction-contact {
        border: 3px solid var(--primary-color);
        border-radius: 35px;
    }

    .introduction-photo {
        position: relative;
        /* display: flex; */
        /* margin: 20px 0 20px 0; */
    }

    .introduction-photo > div {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

    .introduction-education {
        border: 3px solid var(--primary-color);
        border-radius: 35px;

        div {
            padding-left: 40px;
        }
    }

    .about-me {
        border: 3px solid var(--primary-color);
        border-radius: 35px;
        margin-bottom: 20px;
    }

    .photo-iris {
        width: 200px;
        border-radius: 100px;
        height: 200px;
        object-fit: cover;
        object-position: 50% 6%;
        border: 3px solid var(--primary-color);
    }

    .qualities {
        border: 3px solid var(--primary-color);
        border-radius: 35px;
        margin-bottom: 20px;
    }

    .work-experience {
        border: 3px solid red;
        border-radius: 35px;
        margin-bottom: 20px;
    }

    .voluntary-work {
        border: 3px solid red;
        border-radius: 35px;
        margin-bottom: 20px;
    }
}

footer {

    background-color: #F6F0D7;
}